name: Build - Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  #merge_group: # no need to build docker in merge queue

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        load: true
        tags: typeberry:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Test Docker image
      run: |
        docker run --rm typeberry:latest --help

    - name: Save Docker image
      run: |
        docker save typeberry:latest | gzip > typeberry-image.tar.gz

    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v4
      with:
        name: typeberry-docker-image
        path: typeberry-image.tar.gz
        retention-days: 1
