name: Publish @typeberry/* to NPM

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        node-version: [24]
        project: [lib, jam, convert]

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        registry-url: 'https://registry.npmjs.org'
    - name: Install dependencies
      run: npm ci
    - name: Build @typeberry/${{ matrix.project }}
      run: npm run build -w @typeberry/${{ matrix.project }}
    - name: Publish package
      working-directory: ./dist/${{ matrix.project }}
      run: npm publish --access public --tag next
